/* fondo general de la tienda */

body {
    margin: 0;
    padding: 0;
    font-family: 'Garamond', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFFFF;
    color:#333333
}

/* barra de navegación superior */
.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f2f2f2;
}

.barra-navegacion .logo{
    font-size: 32px;
    font-weight: bold;
    color: #29032e;
}

.menu-enlaces a{
    text-decoration: none;
    color: #555555;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 500;
}


.menu-enlaces a:hover, .menu-enlaces a.activo {
    color: #47082a;
    border-bottom: 2px solid #000000;
    padding-bottom: 4px;
}

.banner-navegacion{
    background-image: url('imagenes/marmol.jpeg');
    background-size: cover;
    background-position: center;
    padding: 80px 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
} 

.contenido-banner {
    width: 45%;
    text-align: left;
}

.imagen-banner-contenedor{
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.foto-maquillaje-banner {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 24px;
}

.contenido-banner h1 {
    font-size: 60px;
    color: #29032e;
    margin: 0 0 20px 0;
    line-height: 1.2;
}

.contenido-banner p {
    font-size: 18px;
    color: #000000;
    line-height: 1.0;
    margin-bottom: 30px;
}

button {
    background-color: #d4927db7;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 0 4px 10px rgb(72, 11, 31);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #130108;
    box-shadow: 0 4px 15px rgba(112, 38, 4, 0.963);
    transform: translateX(10px);
}


.seccion-categorias {
    text-align: center;
    padding: 60px 20px;
    background-color: #ffffff;
}

.seccion-categorias h2 {
    font-size: 42px;
    color: #3a1c3e;
    margin-bottom: 5px;
}

.seccion-categorias .subtitulo {
    color: #888888;
    font-size: 18px;
    margin-bottom: 40px;
}


.contenedor-esferas {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.tarjeta-categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.tarjeta-categoria h3 {
    font-size: 40px;
    color: #3a1c3e;
    margin: 15px 0 10px 0;
}

.esfera-imagen {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    box-shadow: 0 0 20px rgb(96, 52, 10); 
    background-size: cover;
    background-position: center;
    border: 3px solid #ffffff;
}


.esfera-ojos {
    background-image: url('../proyecto/imagenes/ojos/ojos.jpeg');
}

.esfera-labios {
    background-image: url('../proyecto/imagenes/labios/labios.jpeg');
    background-position: center 30%;
}

.esfera-rostro {
    background-image: url('../proyecto/imagenes/rostro/rostro.jpeg');
}


.tarjeta-categoria button {
    padding: 6px 16px;
    font-size: 16px;
    background-color: #d4927db7;
    color: #000000;
    box-shadow: none;
}

.tarjeta-categoria button:hover {
    background-color: #2c0011;
    color: white;
}

/*catalogo*/

.seccion-catalogo {
    padding: 40px 50px;
    background-color: #ffffff;
}

.subtitulo-catalogo {
    color: #888888;
    font-size: 16px;
    margin-bottom: 40px;
}


.grid-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
}

.tarjeta-producto {
    background-color: #ffffff;
    width: 260px;
    border-radius: 16px; 
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
    border: 1px solid #f2f2f2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.tarjeta-producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(71, 8, 42, 0.12); 
}


.foto-producto-placeholder {
    width: 100%;
    height: 200px;
    background-color: #fbe7eb;
    background-image: none;
}


.info-producto {
    padding: 20px;
    text-align: left;
}

.tag-categoria {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #47082a; 
    font-weight: bold;
}

.titulo-producto {
    font-size: 20px;
    color: #29032e;
    margin: 5px 0 10px 0;
}

.precio-producto {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 15px 0;
}


.botones-tarjeta {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.btn-ver-mas {
    background-color: #ffffff;
    color: #47082a;
    border: 1px solid #47082a;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 12px;
}

.btn-ver-mas:hover {
    background-color: #fbe7eb;
    transform: none;
    box-shadow: none;
}


.btn-agregar {
    background-color: #d4927db7; 
    color: white;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 12px;
    box-shadow: none;
    flex: 1; 
}

.btn-agregar:hover {
    background-color: #29032e;
    transform: none;
    box-shadow: none;
}
/* --- FOTOS DE OJOS --- */
.foto-producto-placeholder.ojos-0 { background-image: url('imagenes/ojos/ojos1.jpg'); }
.foto-producto-placeholder.ojos-1 { background-image: url('imagenes/ojos/ojos2.jpg'); }
.foto-producto-placeholder.ojos-2 { background-image: url('imagenes/ojos/ojos3.jpeg'); }
.foto-producto-placeholder.ojos-3 { background-image: url('imagenes/ojos/ojos4.webp'); }
.foto-producto-placeholder.ojos-4 { background-image: url('imagenes/ojos/ojos5.webp'); }
.foto-producto-placeholder.ojos-5 { background-image: url('imagenes/ojos/ojos6.jpeg'); }
.foto-producto-placeholder.ojos-6 { background-image: url('imagenes/ojos/ojos7.avif'); }
.foto-producto-placeholder.ojos-7 { background-image: url('imagenes/ojos/ojos8.png'); }

/* --- FOTOS DE LABIOS --- */
.foto-producto-placeholder.labios-8 { background-image: url('imagenes/labios/labios1.jpg'); }
.foto-producto-placeholder.labios-9 { background-image: url('imagenes/labios/labios2.jpg'); }
.foto-producto-placeholder.labios-10 { background-image: url('imagenes/labios/labios3.avif'); }
.foto-producto-placeholder.labios-11 { background-image: url('imagenes/labios/labios4.jpg'); }
.foto-producto-placeholder.labios-12 { background-image: url('imagenes/labios/labios5.webp'); }
.foto-producto-placeholder.labios-13 { background-image: url('imagenes/labios/labios6.webp'); }
.foto-producto-placeholder.labios-14 { background-image: url('imagenes/labios/labios7.jpeg'); }
.foto-producto-placeholder.labios-15 { background-image: url('imagenes/labios/labios8.webp'); }

/* --- FOTOS DE ROSTRO --- */
.foto-producto-placeholder.rostro-16 { background-image: url('imagenes/rostro/rostro1.png'); }
.foto-producto-placeholder.rostro-17 { background-image: url('imagenes/rostro/rostro2.png'); }
.foto-producto-placeholder.rostro-18 { background-image: url('imagenes/rostro/rostro3.jpg'); }
.foto-producto-placeholder.rostro-19 { background-image: url('imagenes/rostro/rostro4.jpeg'); }
.foto-producto-placeholder.rostro-20 { background-image: url('imagenes/rostro/rostro5.png'); }
.foto-producto-placeholder.rostro-21 { background-image: url('imagenes/rostro/rostro6.webp'); }
.foto-producto-placeholder.rostro-22 { background-image: url('imagenes/rostro/rostro7.jpeg'); }
.foto-producto-placeholder.rostro-23 { background-image: url('imagenes/rostro/rostro8.jpg'); }


.foto-producto-placeholder {
    background-size: cover;
    background-position: center;
}

.pie-pagina {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 80px;
    background-color: #faf5f6;
    border-top: 1px solid #f2e6e8;
    font-size: 14px;
    margin-top: 50px; 
    clear:both;
    width: 100%;
    box-sizing: border-box;
}

.footer-copyright {
    color: #888888;
}

.footer-enlaces a {
    text-decoration: none;
    color: #666666;
    margin-left: 20px; 
    transition: color 0.3s ease;
}

.footer-enlaces a:hover {
    color: #47082a; 
}

/* estilo carrito.html */

.seccion-carrito {
    padding: 40px 80px;
    background-color: #ffffff;
    min-height: 60vh;
}

.subtitulo-carrito {
    color: #888888;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: left;
}

.contenedor-flexible-carrito {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
}


.productos-carrito-lista {
    width: 65%;
}

.tabla-carrito {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tabla-carrito th {
    padding: 15px;
    border-bottom: 2px solid #29032e;
    color: #29032e;
    font-size: 18px;
}

.tabla-carrito td {
    padding: 20px 15px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    color: #333333;
}


.btn-eliminar-item {
    background-color: transparent;
    color: #cc0000;
    border: 1px solid #cc0000;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: none;
}

.btn-eliminar-item:hover {
    background-color: #fff0f0;
    transform: none;
    box-shadow: none;
}

.resumen-pago-tarjeta {
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.resumen-pago-tarjeta h3 {
    margin-top: 0;
    color: #29032e;
    font-size: 22px;
}

.fila-resumen {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 16px;
}

.envio-gratis {
    color: #47082a;
    font-weight: bold;
}

.total-destacado {
    font-size: 20px;
    font-weight: bold;
    color: #29032e;
    margin-top: 20px;
}


.btn-comprar-total {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    border-radius: 12px;
}

.btn-vaciar {
    width: 100%;
    background-color: #ffffff;
    color: #666666;
    border: 1px solid #cccccc;
    margin-top: 10px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: none;
}

.btn-vaciar:hover {
    background-color: #f5f5f5;
    color: #000000;
    box-shadow: none;
    transform: none;
}

/* página de datos */
.contenedor-formulario {
    padding: 60px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    min-height: 55vh;
}

.tarjeta-formulario {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.04);
    text-align: left;
}

.tarjeta-formulario h2 {
    color: #29032e;
    margin-top: 0;
    font-size: 28px;
}

.subtitulo-formulario {
    color: #888888;
    font-size: 14px;
    margin-bottom: 30px;
}

.grupo-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grupo-input label {
    font-size: 14px;
    font-weight: bold;
    color: #47082a;
}

.grupo-input input {
    padding: 12px 15px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: inherit;
    transition: border-color 0.3s;
}


.grupo-input input:focus {
    outline: none;
    border-color: #47082a;
}

.botones-formulario {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.botones-formulario button {
    flex: 1;
}